DATABASE_USER=<account_user>
DATABASE_PASSWORD=<account_password>
DATABASE_HOST=zebrands-postgres # change to localhost if not using docker
DATABASE_PORT=<db_port>
DATABASE_NAME=<account_db_name>
SECRET_KEY=<SECRET_KEY>
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=5 # less time for services
RABBITMQ_HOST=zebrands-event-broker # change to localhost if not using docker
RABBITMQ_PORT=5672
RABBITMQ_USER=<RABBITMQ_USER>
RABBITMQ_PASS=<RABBITMQ_PASS>
RABBITMQ_QUEUE=notification_queue